:root {
    --cor-texto: #384364;
    --shadow: 0 0 15px #d1d1d1;
    --cancelados-atrasados: #da2b2b;
    --aguardando-tec: #0000ff;
    --aguardando-at: #45abff;
    --atendimento: #fff345;
    --finalizado: #62c74e;
}

/* PADROES */
.row_principal{
    margin-top: 40px;
    float: left;
    width: 100%;
}

.form-group{
    position: relative;
}

.td-padding0{
    padding-bottom: 8px!important;
    padding-top: 8px!important;
}

.btn-cadastrar {
    background-color: #556ee7;
    color: #fff;
    border: solid 1px #4c66e7;
    box-shadow: var(--shadow);
}

.btn-cadastrar:hover {
    background-color: #3750c9!important;
    color: #fff;
    border: solid 1px #3b4eb1;
}

.btn-cadastrar:active {
    color: #fff!important;
}

.btn-azul {
    background-color: #556ee7;
    color: #fff;
    border: solid 1px #4c66e7;
    box-shadow: var(--shadow);
}

.btn-azul:hover {
    background-color: #3750c9!important;
    color: #fff;
    border: solid 1px #3b4eb1;
}

.btn-azul:active {
    color: #fff!important;
}

.btn-danger:hover {
    background-color: #eb193c!important;
}

.btn-primary:hover {
    background-color: #3750c9!important;
}

.modal-grande {
    max-width: 90%;
}

.lista-padrao {
    padding: 12px;
}

.table .thead-light th, .text-wrap table .thead-light th {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ls-padrao-aguardando-tec {
    border: solid 1px var(--aguardando-tec);
    margin-bottom: 5px;
    border-radius: 5px;
}

.ls-padrao-aguardando-at {
    border: solid 1px var(--aguardando-at);
    margin-bottom: 5px;
    border-radius: 5px;
}

.ls-padrao-atendimento {
    border: solid 1px var(--atendimento);
    margin-bottom: 5px;
    border-radius: 5px;
}

.ls-padrao-finalizado {
    border: solid 1px var(--finalizado);
    margin-bottom: 5px;
    border-radius: 5px;
}

.ls-padrao-cancelado {
    border: solid 1px var(--cancelados-atrasados);
    margin-bottom: 5px;
    border-radius: 5px;
}

.ls-padrao-atrasado {
    border: solid 1px var(--cancelados-atrasados);
    margin-bottom: 5px;
    border-radius: 5px;
}

.hide {
    display: none;
}

.btn-laranja {
    color: #fff;
    background-color: #f99645;
    border-color: #eb9752;
    box-shadow: 0 5px 10px rgba(252,115,3,.3);
}

.btn-laranja:hover {
    color: #fff;
    background-color: #eb791b;
    border-color: #e48232;
}

.input_deslocamento {
    display: none;
}

.label-input_deslocamento {
    font-size: 12px;
}

.input_pedagio {
    display: none;
}

.label-input_pedagio {
    font-size: 12px;
}

.custom-radio {
    cursor: pointer;
}

/* MODAL ALTERAR SENHA JS*/
#alterar_senha-atual {
    float: left;
    width: 49%; 
    margin-right: 2%;
}

#alterar_senha-nova {
    float: left; 
    width: 49%;
}

/* ADMINISTRADORES */
.checkbox-definir-menus {
    float: left;
    width: 20%;
}

.adm-cad-nome {
    float: left; 
    width: 33%; 
    margin-right: 1%;
}

.adm-cad-email {
    float: left; 
    width: 33%; 
    margin-right: 1%;
}

.adm-cad-senha {
    float: left; 
    width: 32%; 
}

.administradores-senha_atual {
    float: left; 
    width: 49%; 
    margin-right: 2%;
}

.administradores-nova_senha {
    float: left; 
    width: 49%;
}

/* BALANÇO GERAL */
.mes_fechamento{
    width: 32%; 
    margin-bottom: 20px;
}

.financeiro_geral-row_geral {
    float: left;
    width: 100%;
}

.financeiro_geral-recebido {
    float: left;
    width: 33%;
    margin-right: 1%;
}

.financeiro_geral-pago {
    float: left;
    width: 32%;
    margin-right: 1%;
}

.financeiro_geral-lucro {
    float: left;
    width: 33%;
}

/* FINANCEIRO INFOS E CAMPOS */
.valor_tot_pago, .chamados{
    margin-right: 3px;
}

.valor_receber_campo{
    width: 12%;
    float: left;
    margin-right: 2%;
    margin-top: -9px;
}

.valor_chamados_campo{
    width: 12%;
    float: left;
    margin-top: -9px;
}

.campo_pedagio{
    display: none;
}

.size_pedagio{
    float: left;
    margin-right: 2%;
    width: 48%;
}

.size_pedagio2{
    float: left;
    width: 48%;
}

.campo_deslocamento{
    display: none;
}


#ui-datepicker-div{
    z-index: 1050!important;
}

/* CLIENTES */

.clientes-cad-nome {
    float: left; 
    width: 49%; 
    margin-right: 1%;
}

.clientes-cad-cep {
    float: left;
    width: 17%; 
    margin-right: 1%; 
}

.clientes-cad-logradouro {
    float: left; 
    width: 32%;
}

.clientes-cad-numero {
    float: left;
    width: 10%;
    margin-right: 1%;
}

.clientes-cad-complemento {
    float: left; 
    width: 24%; 
    margin-right: 1%;
}

.clientes-cad-bairro {
    float: left;
    width: 27%; 
    margin-right: 1%;
}

.clientes-cad-cidade {
    float: left; 
    width: 27%; 
    margin-right: 1%;
}

.clientes-cad-estado {
    float: left; 
    width: 8%;
}

.clientes-cad-cpf-cnpj {
    float: left; 
    width: 25%; 
    margin-right: 1%;
}

.clientes-cad-email {
    float: left; 
    width: 25%; 
    margin-right: 1%;
}

.clientes-cad-tel {
    float: left; 
    width: 22%; 
    margin-right: 1%;
}

.clientes-cad-contato {
    float: left; 
    width: 25%;
}

.clientes-modal-nome {
    float: left; 
    width: 49%; 
    margin-right: 1%;
}

.clientes-modal-cep {
    float: left; 
    width: 17%; 
    margin-right: 1%;
}

.clientes-modal-logradouro {
    float: left; 
    width: 32%;
}

.clientes-modal-numero {
    float: left; 
    width: 10%; 
    margin-right: 1%;
}

.clientes-modal-complemento {
    float: left; 
    width: 24%; 
    margin-right: 1%;
}

.clientes-modal-bairro {
    float: left; 
    width: 27%; 
    margin-right: 1%;
}

.clientes-modal-cidade {
    float: left; 
    width: 27%; 
    margin-right: 1%;
}

.clientes-modal-estado {
    float: left; 
    width: 8%;
}

.clientes-modal-cpf-cnpj {
    float: left; 
    width: 25%; 
    margin-right: 1%;
}

.clientes-modal-email {
    float: left; 
    width: 25%; 
    margin-right: 1%;
}

.clientes-modal-telefone {
    float: left; 
    width: 22%; 
    margin-right: 1%;
}
.clientes-modal-contato {
    float: left; 
    width: 25%;
}

/* TICKETS - INFO */
.btn_info-voltar {
    float: right; 
    margin-right: 1%;
}

.btn_info-editar {
    float: right; 
    margin-right: 1%;
}

.btn_info-cancelar {
    float: right; 
    margin-right: 1%;
}

.btn_info-atendimento {
    float: right;
}

.info_ticket-codigo {
    float: left; 
    margin-right: 1%; 
    width: 13%;
}

.info_ticket-data {
    float: left; 
    margin-right: 1%; 
    width: 15%;
}

.info_ticket-horario {
    float: left; 
    margin-right: 1%; 
    width: 16%;
}

.info_ticket-projeto {
    float: left; 
    margin-right: 1%; 
    width: 33%;
}

.info_ticket-especialidade {
    float: left; 
    width: 19%;
}

.info_ticket-parceiro {
    float: left; 
    margin-right: 1%; 
    width: 33%;
}

.info_ticket-cliente {
    float: left; 
    margin-right: 1%; 
    width: 25%;
}

.info_ticket-nome {
    float: left;
    margin-right: 1%; 
    width: 24%;
}

.info_ticket-tel {
    float: left; 
    width: 15%;
}

.info_ticket-cep {
    float: left; 
    margin-right: 1%; 
    width: 10%;
}

.info_ticket-logradouro {
    float: left; 
    margin-right: 1%; 
    width: 22%;
}

.info_ticket-num {
    float: left; 
    margin-right: 1%; 
    width: 7%;
}

.info_ticket-complemento {
    float: left; 
    margin-right: 1%; 
    width: 12%;
}

.info_ticket-bairro {
    float: left; 
    margin-right: 1%; 
    width: 22%;
}

.info_ticket-cidade {
    float: left; 
    margin-right: 1%; 
    width: 15%;
}

.info_ticket-estado {
    float: left; 
    width: 6%;
}

.info_ticket-descricao {
    float: left;
    width: 100%;
}

.info_ticket-fabricante {
    float: left; 
    margin-right: 1%; 
    width: 24%;
}

.info_ticket-modelo {
    float: left; 
    margin-right: 1%; 
    width: 24%;
}

.info_ticket-serie {
    float: left; 
    margin-right: 1%; 
    width: 24%;
}

.info_ticket-patrimonio {
    float: left; 
    width: 25%;
}

.info_ticket-descricao2 {
    width: 100%;
    float: left;
}

.info_ticket-fabricante2 {
    float: left; 
    margin-right: 1%; 
    width: 24%;
}

.info_ticket-modelo2 {
    float: left; 
    margin-right: 1%; 
    width: 24%;
}

.info_ticket-serie2 {
    float: left; 
    margin-right: 1%; 
    width: 24%;
}

.info_ticket-patrimonio2 {
    float: left; 
    width: 25%;
}

.info_ticket-descricao3 {
    width: 100%;
    float: left;
}

.info_ticket-col1 {
    float: left; 
    width: 49%; 
    margin-right: 2%;
}

.info_ticket-col2 {
    float: left; 
    width: 49%;
}

.label_info-pedagio {
    width: 100%;
}

.label_info-deslocamento {
    width: 100%;
}

.editar-km_percorrido {
    float: left;
}

.editar-valor_km {
    float: left;
}

.info_ticket-fechamento_data {
    float: left;
    width: 33%;
    margin-right: 1%;
}

.info_ticket-fechamento_horario1 {
    float: left;
    margin-right: 1%;
    width: 33%;
}

.info_ticket-fechamento_horario2 {
    float: left;
    width: 32%;
}

.info_ticket-descricao4 {
    width: 100%;
    float: left;
}

.info_tickets-fechamento_rat1 {
    width: 49%;
    float: left;
    margin-right: 1%;
}

.info_tickets-fechamento_rat2 {
    width: 49%;
    float: left;
}

.info-botao_manual {
    float: left; 
    width: 49%; 
    margin-right: 0;
}

.info-botao_rat {
    float: left; 
    width: 49%; 
    margin-right: 2%;
}

.row-adcional_horas {
    margin-bottom: 20px;
}

.info_finalizado-col-v1 {
    padding-right: 0px!important;
}

.info_finalizado-col-v3 {
    padding-right: 0px!important;
}

.info_finalizado-col-v5 {
    padding-right: 0px!important;
}

/* TICKETS - EDITAR */
.btn_editar-cancelar {
    float: right;
    margin-right: 1%;
}

.btn_editar-atendimento {
    float: right;
}

.edit_ticket-codigo {
    float: left; 
    margin-right: 1%; 
    width: 16%;
}

.edit_ticket-data {
    float: left; 
    margin-right: 1%; 
    width: 19%;
}

.edit_ticket-horario {
    float: left; 
    margin-right: 1%; 
    width: 17%;
}

.edit_ticket-projeto {
    float: left;
    width: 45%;
}

.edit_ticket-especialidade {
    float: left; 
    margin-right: 1%; 
    width: 32%;
}

.edit_ticket-parceiro {
    float: left;
    margin-right: 1%;
    width: 33%;
}

.edit_tickets-atendimento {
    float: left;
    width: 33%;
}

.edit_tickets-cliente {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.edit_ticket-nome_cliente {
    float: left;
    width: 42%;
    margin-right: 1%;
}

.edit_ticket-cep {
    float: left;
    width: 15%;
    margin-right: 1%;
}

.edit_ticket-nome {
    float: left;
    width: 41%;
}

.edit_ticket-tel {
    float: left;
    width: 20%;
    margin-right: 1%;
}

.edit_ticket-logradouro {
    float: left;
    margin-right: 1%;
    width: 37%;
}

.edit_ticket-num {
    float: left;
    margin-right: 1%;
    width: 10%;
}

.edit_ticket-complemento {
    float: left;
    width: 30%;
}

.edit_ticket-bairro {
    float: left;
    margin-right: 1%;
    width: 49%;
}

.edit_ticket-cidade {
    float: left;
    margin-right: 1%;
    width: 41%;
}

.edit_ticket-estado {
    float: left;
    width: 8%;
}

.edit_ticket-descricao {
    float: left;
    width: 100%;
}

.edit_ticket-fabricante {
    float: left;
    margin-right: 1%;
    width: 24%;
}

.edit_ticket-modelo {
    float: left;
    margin-right: 1%;
    width: 24%;
}

.edit_ticket-serie {
    float: left;
    margin-right: 1%;
    width: 24%;
}

.edit_ticket-patrimonio {
    float: left;
    width: 25%;
}

.edit_ticket-fabricante2 {
    float: left;
    margin-right: 1%;
    width: 24%;
}

.edit_ticket-modelo2 {
    float: left;
    margin-right: 1%;
    width: 24%;
}

.edit_ticket-serie2 {
    float: left;
    margin-right: 1%;
    width: 24%;
}

.edit_ticket-patrimonio2 {
    float: left;
    width: 25%;
}

.edit_ticket-col1 {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.edit_ticket-col2 {
    float: left;
    width: 49%;
}

.label_edit-deslocamento, .label_edit-pedagio {
    width: 100%;
}

.input-sem_adcionais {
    display: block;
}

.input-valores_adcionais {
    display: none;
}

.add-value-delete {
    cursor: pointer;
}

.radio_edit-pedagio, .radio_edit-deslocamento {
    cursor: pointer;
}

.edit_ticket_label-horas, .edit_ticket_label-adcional, .edit_ticket_label-valor, .edit_ticket_label-valor_adcional {
    font-size: 12px;
}

.info_ticket-horas_atendimento {
    float: left;
    width: 26%;
    margin-right: 1%;
}

.edit_ticket-adcional {
    float: left;
    width: 19%;
    margin-right: 1%;
}

.edit_ticket-valor_hora {
    float: left;
    width: 26%;
    margin-right: 1%;
}

.edit_ticket-valor_adcional {
    float: left;
    width: 26%;
}

.edit_ticket-col1_adicional_horas {
    display: none;
    margin-bottom: 20px;
}

.edit_ticket-col2_adicional_horas {
    display: none;
    margin-bottom: 20px;
}

.edit_ticket_label-horas2, .edit_ticket_label-adcional2, .edit_ticket_label-valor2, .edit_ticket_label-valor_adcional2 {
    font-size: 12px;
}

.edit_ticket-horas_atendimento2 {
    float: left;
    width: 26%;
    margin-right: 1%;
}

.edit_ticket-adcional2 {
    float: left;
    width: 19%;
    margin-right: 1%;
}

.edit_ticket-valor_hora2 {
    float: left;
    width: 26%;
    margin-right: 1%;
}

.edit_ticket-valor_adcional2 {
    float: left;
    width: 26%;
}

.edit_ticket-info_fechamento {
    display: block;
}

.edit_ticket-fechamento_data {
    float: left;
    width: 33%;
    margin-right: 1%;
}

.edit_ticket-fechamento_horario1 {
    float: left;
    margin-right: 1%;
    width: 33%;
}

.edit_ticket-fechamento_horario2 {
    float: left;
    width: 32%;
}

.edit_ticket-descricao4 {
    width: 100%;
    float: left;
}

.edit_tickets-fechamento_rat1 {
    width: 49%;
    float: left;
    margin-right: 1%;
}

.edit_tickets-fechamento_rat2 {
    width: 49%;
    float: left;
}

.btn_valores-info_adcionar {
    display: none;
}

.info_ticket-info_fechamento {
    display: none;
}

.edit_tickets-voltar {
    float: right; 
    margin-right: 1%;
}

.edit_ticket-sem_adcionais {
    margin-bottom: 5%;
}

/* TICKETS - LISTAGEM */

.listagem_filtro-codigo {
    float: left;
    width: 28%;
    margin-right: 1%;
}

.listagem_filtro-status {
    float: left;
    width: 28%;
    margin-right: 1%;
}

.listagem_filtro-projeto {
    float: left;
    width: 42%;
    margin-right: 0;
}

.listagem_filtro-parceiro {
    float: left;
    width: 42%;
    margin-right: 1%;
}

.listagem_filtro-cidade {
    float: left;
    width: 30%;
    margin-right: 1%;
}

.listagem_filtro-data {
    float: left;
    width: 26%;
}

.font-weight-bold {
    font-weight: bold;
}


/* TICKETS - CADASTRAR */

.cad_tickets-codigo {
    width: 33%; 
    margin-right: 1%;
    float: left;
}

.cad_tickets-data {
    width: 33%; 
    margin-right: 1%;
    float: left;
}

.cad_tickets-horario {
    width: 32%; 
    float: left;
}

.cad_tickets-cliente {
    width: 100%;
    margin-right: 0;
    float: left;
}

.cad_tickets-nome-cliente {
    width: 100%;
    float: left;
}

.cad_tickets-nome {
    width: 40%;
    margin-right: 1%;
    float: left;
}

.cad_tickets-tel-cliente {
    width: 14%;
    margin-right: 1%;
    float: left;
}

.cad_tickets-cep {
    width: 14%;
    margin-right: 1%;
    float: left;
}

.cad_tickets-logradouro {
    width: 29%;
    float: left;
}

.cad_tickets-bairro {
    width: 29%;
    margin-right: 1%;
    float: left;
}

.cad_tickets-cidade {
    width: 24%;
    margin-right: 1%;
    float: left;
}

.cad_tickets-estado {
    width: 7%;
    float: left;
    margin-right: 1%;
}

.cad_tickets-num {
    width: 11%;
    margin-right: 1%;
    float: left;
}

.cad_tickets-complemento {
    width: 25%;
    float: left;
}

.cad_tickets-projeto {
    width: 33%;
    margin-right: 1%;
    float: left;
}

.cad_tickets-especialidade {
    width: 33%;
    margin-right: 1%;
    float: left;
}

.cad_tickets-parceiro {
    width: 32%;
    float: left;
}

.cad_tickets-atendimento {
    width: 33%;
    float: left;
}

.btn_escolher_arquivo {
    width: 100%;
}

.cad_tickets-aviso {
    color: #bd3d3d;
}

.cad_tickets_descricao {
    width: 100%;
}

.cad_tickets-fabricante {
    width: 49%;
    margin-right: 2%;
    float: left;
}

.cad_tickets-modelo {
    width: 49%;
    float: left;
    margin-right: 0;
}

.cad_tickets-serie {
    width: 49%;
    margin-right: 2%;
    float: left;
}

.cad_tickets-patrimonio {
    width: 49%;
    float: left;
    margin-right: 0;
}

.cad_tickets_descricao2 {
    width: 100%;
}

.cad_tickets-val1 {
    width: 49%;
    margin-right: 2%;
    float: left;
}

.cad_tickets-val2 {
    width: 49%;
    float: left;
}

.cad_tickets_descricao3 {
    width: 100%;
    float: left;
}

.label-deslocamento, .label-pedagio {
    width: 100%;
}

#cad_ticket-voltar {
    float: right;
    margin-right: 1%;
}

#cad_ticket-salvar {
    float: right;
}

/* TICKETS - DE HOJE */

.filtro_tickets-hj {
    width: 100%;
}

.lista {
  width: 18%;
  margin-right: 2%;
  float: left;
  padding: 4px;
}

.list-group-item_ult {
    margin-bottom: 0;
}

#lista-aguardando-tecnico {
    border: 1px solid #0000ff;
}

#lista-atendimento {
    border: 1px solid #fff345;
}

#lista-finalizados {
    border: 1px solid #62c74e;
    width: 20%;
}

#lista-cancelados {
    border: 1px solid #da2b2b;
}

#lista-atrasados {
    border: 1px solid #da2b2b;
    margin-right: 0;
}

.item-tickets-hj {
    cursor: pointer;
}

.item-tickets-hj:hover {
    background-color: #f5f5f5;
}

/* TICKETS - APROVACAO */
.uuid_aprovacao {
    cursor: pointer;
}

/* TICKETS - RELATORIOS */
.relatorio_fornecedor, .relatorio_projeto, .relatorio_parceiro {
    display: none;
}

.relatorio_periodo-data {
    width: 33%; 
    margin-right: 1%; 
    float: left;
}

.relatorio_periodo-data2 {
    width: 33%; 
    margin-right: 1%; 
    float: left;
}

.relatorio_periodo-status {
    width: 32%; 
    margin-right: 0%; 
    float: left;
}

.relatorio_fornecedor-fornecedor {
    width: 25%; 
    margin-right: 1%; 
    float: left;
}

.relatorio_fornecedor-data {
    width: 24%; 
    margin-right: 1%; 
    float: left;
}

.relatorio_fornecedor-data2 {
    width: 24%; 
    margin-right: 1%; 
    float: left;
}

.relatorio_fornecedor-status {
    width: 24%; 
    margin-right: 0%; 
    float: left;
}

.relatorio_projeto-projeto {
    width: 25%; 
    margin-right: 1%; 
    float: left;
}

.relatorio_projeto-data {
    width: 24%; 
    margin-right: 1%; 
    float: left;
}

.relatorio_projeto-data2 {
    width: 24%; 
    margin-right: 1%; 
    float: left;
}

.relatorio_projeto-status {
    width: 24%; 
    margin-right: 0%; 
    float: left;
}

.relatorio_parceiro-parceiro {
    width: 25%; 
    margin-right: 1%; 
    float: left;
}

.relatorio_parceiro-data {
    width: 24%; 
    margin-right: 1%; 
    float: left;
}

.relatorio_parceiro-data2 {
    width: 24%; 
    margin-right: 1%; 
    float: left;
}

.relatorio_parceiro-status {
    width: 24%; 
    margin-right: 0%; 
    float: left;
}

/* EQUIPAMENTOS */
.a_equipamentos-cliente, .a_equipamentos-parceiros, .a_equipamentos-ticket {
    cursor: pointer;
}

.equip_fabricante {
    float: left;
    width: 24%;
    margin-right: 1%;
}

.equip_modelo {
    float: left;
    width: 24%;
    margin-right: 1%;
}

.equip_num-serie {
    float: left;
    width: 24%;
    margin-right: 1%;
}

.equip_patrimonio {
    float: left;
    width: 25%;
}

.equip_cliente {
    float: left;
    width: 24%;
    margin-right: 1%;
}

.equip_parceiro {
    float: left;
    width: 24%;
    margin-right: 1%;
}

.equip_ticket {
    float: left;
    width: 24%;
    margin-right: 1%;
}

.equip_equipamentos {
    float: left;
    width: 25%;
    margin-top: 7px;
}

.equip_descricao {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

/* FORNECEDORES */
.filtro_fornecedores {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.fornecedores_razao {
    float: left;
    width: 33%;
    margin-right: 1%;
}

.fornecedores_nome {
    float: left;
    width: 33%;
    margin-right: 1%;
}

.fornecedores_cidade {
    float: left;
    width: 32%;
}

/* NOVO FORNECEDOR */
.fornecedor_cnpj{
    float: left;
    width: 14%;
    margin-right: 2%;
}

.fornecedor_razao_social{
    float: left;
    width: 42%;
    margin-right: 2%;
}

.fornecedor_fantasia {
    width: 40%;
    float: left;
}

.fornecedor_tel1 {
    width: 14%;
    float: left;
    margin-right: 2%;
}

.novo_fornecedor_tel2{
    float: left;
    width: 14%;
    margin-right: 2%
}

.tipo_fornecedor {
    width: 100%;
    float: left;
}

.pessoa_juridica{
    float: left;
    margin-right: 20px;
}

.pessoa_fisica{
    float: left;
}

.fornecedor_cpf {
    width: 18%;
    float: left;
    margin-right: 1%;
}

.fornecedor_tel2 {
    width: 30%;
    float: left;
    margin-right: 1%;
}

.novo_fornecedores_complemento{
    float: left;
    width: 40%;
}

.fornecedores_cep {
    width: 12%;
    float: left;
    margin-right: 2%;
}

.fornecedores_logradouro {
    width: 48%;
    margin-right: 2%;
    float: left;
}

.novo_fornecedor_complemento{
    float: left;
    width: 30%; 
}

.novo_fornecedor_data{
    float: left;
    width: 18%;
}

.fornecedores_bairro {
    width: 17%;
    float: left;
    margin-right: 2%;
}

.fornecedores_cidade2 {
    width: 17%;
    float: left;
}

.fornecedores_estado {
    width: 17%;
    margin-right: 2%;
    float: left;
}

.fornecedores_numero {
    width: 9%;
    margin-right: 2%;
    float: left;
}

/* NOVO FORNECEDOR - PF */

.novo_fornecedor-cpf{
  float: left;
  width: 15%;  
  margin-right: 2%;
}

.novo_fornecedor_fantasia-pf{
    float: left;
    width: 45%;
    margin-right: 2%;
}

.novo_fornecedor_tel-pf{
    float: left;
    width: 18%;
    margin-right: 2%;
}

.novo_fornecedor_tel-pf02{
    float: left;
    width: 16%;
}


/* EDITAR FORNECEDORES - PJ */
.editar_fornecedor_cnpj{
    float: left;
    width: 15%;
    margin-right: 2%;
}

.editar_fornecedor_razao_social{
    float: left;
    width: 42%;
    margin-right: 2%;
}

.editar_fornecedor_nome_fantasia{
    float: left;
    width: 39%;
}

.editar_fornecedor_data02{
    float: left;
    width: 15%;
    margin-right: 2%; 
}

.editar_fornecedor_data{
    float: left;
    width: 30%;
    margin-right: 2%; 
}

.editar_fornecedor_tel01{
    float: left;
    width: 15%;
    margin-right: 2%; 
}

.editar_fornecedor_tel02{
    float: left;
    width: 15%;
}

.editar_fornecedor_cep{
    float: left;
    width: 15%;
    margin-right: 2%; 
}

.editar_fornecedor_logadouro{
    float: left;
    width: 43%;
    margin-right: 2%;
}

.editar_fornecedor_bairro{
    float: left;
    width: 17%;
    margin-right: 2%;
}

.editar_fornecedor_cidade{
    float: left;
    width: 19%;
}

.editar_fornecedor_estado{
    float: left;
    width: 15%;
    margin-right: 2%;
}

.editar_fornecedor_numero{
    float: left;
    width: 9%;
    margin-right: 2%; 
}

.editar_fornecedores_complemento{
    float: left;
    width: 32%;  
}

/*PESSOA FISICA*/
.editar_fornecedor_cpf{
    float: left;
    width: 14%;
    margin-right: 2%; 
}

.editar_fornecedor_pf_fantasia{
    float: left;
    width: 42%;
    margin-right: 2%; 
}

.editar_fornecedor_data_pf{
    float: left;
    width: 32%; 
}

.editar_fornecedor_telefone_pf01{
    float: left;
    width: 19%;
    margin-right: 2%;
}

.editar_fornecedor_telefone_pf02{
    float: left;
    width: 19%;
}

.editar_fornecedor_cep_pf{
    float: left;
    width: 14%;
    margin-right: 2%;
}

.editar_fornecedor_logadouro_pf{
    float: left;
    width: 42%;
    margin-right: 2%;
}

.editar_fornecedor_bairro_pf{
    float: left;
    width: 19%;
    margin-right: 2%;
}

.editar_fornecedor_cidade_pf{
    float: left;
    width: 19%;
}

.editar_fornecedores_estado_pf{
    float: left;
    width: 14%;
    margin-right: 2%;
}
.editar_fornecedores_numero_pf{
    float: left;
    width: 9%;
    margin-right: 2%;
}

.editar_fornecedores_complemento_pf{
    float: left;
    width: 31%;
}

/* EDITAR FORNECEDORES - DADOS BANCARIOS */
.tipo_parceiro {
    width: 100%;
    float: left;
}

.dados-pessoa_juridica, .dados-pessoa_fisica {
    float: left;
    margin-right: 20px;
}

.dados-nome_favorecido {
    width: 45%;
    margin-right: 1%;
    float: left;
}

.dados-cpf {
    width: 25%;
    margin-right: 1%;
    float: left;
}

.dados-tipo_pix {
    width: 28%;
    float: left;
}

.dados-chave_pix {
    width: 30%;
    margin-right: 1%;
    float: left;
}

.dados-banco {
    width: 69%;
    float: left;
}

.tipo_conta {
    width: 100%;
    float: left;
}

.dados-conta_corrente, .dados-conta_poupanca {
    float: left;
    margin-right: 20px;
}

.dados-agencia {
    width: 10%;
    margin-right: 1%;
    float: left;
}

.dados-digito {
    width: 6%;
    margin-right: 1%;
    float: left;
}

.dados-conta {
    width: 10%;
    margin-right: 1%;
    float: left;
}

.dados-digito2 {
    width: 6%;
    margin-right: 1%;
    float: left;
}

.dados-variacao {
    width: 31%;
    float: left;
}

#conta_poupanca {
    display: none;
}

/*PROJETOS > NOVO PROJETO*/
.nome_projeto{
    float: left;
    width: 30%; 
    margin-right: 2%;
}

.fornecedor_projeto{
    float: left;
    width: 30%; 
    margin-right: 2%;
}

.especialidades_projeto{
    float: left;
    width: 30%; 
    margin-right: 1%;
}

.projeto_rat-rs{
    float: left;
    width: 5%;
}

.rat_size_label{
    font-size: 12px;
}

.maximo_horas{
    float: left;
    width: 30%;
    margin-right: 2%;
}

.hora_adicional{
    float: left;
    width: 30%;
    margin-right: 2%;
}

.valor_km{
    float: left;
    width: 30%;
}

.rat_padrao{
    float: left;
    width: 30%;
    margin-right: 2%;
}

.projeto_manual{
    float: left;
    width: 30%;
    margin-right: 2%; 
}

.passo_a_passo{
    float: left;
    width: 28%;  
}


/*PROJETOS > EDITAR PROJETO*/
.nome_projeto-editar{
    width: 30%;
    float: left;
    margin-right: 2%;
}

.fornecedor_projeto-editar{
    float: left;
    width: 30%;
    margin-right: 2%;
}

.especialidades_projeto-editar{
    float: left;
    width: 30%;
    margin-right: 2%; 
}

.rat_projeto-editar{
    float: left;
    width: 4%;
}

.rat_size_editar{
    font-size: 12px;
}

.max_hora_editar{
    float: left;
    width: 30%;
    margin-right: 2%;
}

.valor_hora-editar{
    float: left;
    width: 30%;
    margin-right: 2%; 
}

.valor_km-editar{
    float: left;
    width: 30%;
}

.rat_projetos-editar{
    float: left;
    width: 30%;
    margin-right: 2%;
}

.manual_projetos-editar{
    float: left;
    width: 30%;
    margin-right: 2%;
}

/* NOVO PARCEIROS PJ */
.novo_parceiro_complemento{
    float: left;
    width: 30%; 
}

.novo_parceiro_numero {
    width: 17%;
    margin-right: 1%;
    float: left;
}

.novo_parceiro_estado{
    width: 11%;
    margin-right: 1%;
    float: left;
}

.novo_parceiro_cidade2 {
    width: 39%;
    margin-right: 1%;
    float: left;
}

.novo_parceiro_bairro {
    width: 38%;
    float: left;
}

.novo_parceiro_logradouro {
    width: 40%;
    margin-right: 1%;
    float: left;
}

.novo_parceiro_cep {
    width: 20%;
    float: left;
    margin-right: 1%;
}

.tipo_parceiro {
    width: 100%;
    float: left;
}

.novo_parceiro_cnpj{
    width: 22%;
    float: left;
    margin-right: 1%;
}

.novo_parceiro_razao{
    float: left;
    width: 38%;
    margin-right: 1%;
}

.novo_parceiro_fantasia{
    float: left;
    width: 38%;
}

.novo_parceiro_data{
    float: left;
    width: 36%;
    margin-right: 1%;
}

.novo_parceiro_especialidades{
    width: 63%;
    float: left;
}

/* VALORES PADRÕES - PJ */
.novo_parceiro_horas{
    float: left;
    width: 33%;
    margin-right: 2%;
}


.novo_parceiro_horas2{
    float: left;
    width: 32%;
    margin-right: 2%;
}


.novo_parceiro_horas3{
    float: left;
    width: 31%;
}

/* USUÁRIO ADMINISTRADOR DA EMPRESA - PJ */
.usuario_admin-nome{
    float: left;
    width: 60%;
    margin-right: 2%;
}

.usuario_admin-email{
    float: left;
    width: 38%;
    margin-right: 0%;
}

.usuario_admin-whats{
    float: left;
    width: 30%;
    margin-right: 2%;
}  

.usuario_admin-cpf{
    float: left;
    width: 33%;
    margin-right: 2%;
}

.usuario_admin-rg{
    float: left;
    width: 33%;
}

/* PARCEIROS */
#fisico-novo_parceiro {
    display: none;
}

/* NOVO PARCEIRO PF */
.novo_parceiro_cpf-fis {
    width: 15%;
    margin-right: 1%;
    float: left;
}

.novo_parceiro_fantasia-fis {
    width: 40%;
    margin-right: 1%;
    float: left;
}

.novo_parceiro_especialidades_pf{
    width: 43%;
    float: left;
}

.novo_parceiro_cep_fis {
    width: 20%;
    float: left;
    margin-right: 1%;
}

.novo_parceiro_logradouro-fis {
    width: 40%;
    margin-right: 1%;
    float: left;
}

.novo_parceiro_bairro-fis {
    width: 38%;
    float: left;
}

.novo_parceiro_cidade2-fis {
    width: 39%;
    margin-right: 1%;
    float: left;
}

.novo_parceiro_estado-fis {
    width: 6%;
    margin-right: 1%;
    float: left;
}

.novo_parceiro_numero-fis {
    width: 9%;
    margin-right: 1%;
    float: left;

}

.novo_parceiro_complemento_pf{
    width: 43%;
    float: left;
}

.novo_parceiro-horas, .novo_parceiro-horas2 {
    width:34%;
    margin-right: 1%;
    float: left;
}

.novo_parceiro-adicional, .novo_parceiro-adicional2 {
    width:32%;
    margin-right: 1%;
    float: left;
}

.novo_parceiro-km_percorrido, .novo_parceiro-km_percorrido2 {
    width:32%;
    float: left;
}

.novo_parceiro_admin{
    margin-right: 1%;
    float: left;
    width: 33%;
}

.elemento_juridico {
    float: left;
}

.elemento_fisico {
    display: none;
    float: left;
}

.div_father{
    width: 100%;
    float: left;
}

/*VALORES PADRÕES - PF*/
.novo_parceiro_horas-pf{
    float: left;
    width: 33%;
    margin-right: 2%;
}

.novo_parceiro_horas2-pf{
    float: left;
    width: 32%;
    margin-right: 2%;
}

.novo_parceiro_horas3-pf{
    float: left;
    width: 31%;
}

/*USUÁRIO ADMINISTRADOR DA EMPRESA - PF*/
.usuario_admin_nome-pf {
    float: left;
    width: 60%;
    margin-right: 2%;
}

.usuario_admin_email-pf{
    float: left;
    width: 38%;
    margin-right: 0%;
}

.usuario_admin_whats-pf{
    float: left;
    width: 30%;
    margin-right: 2%;
}

.usuario_admin_cpf-pf{
    float: left;
    width: 33%;
    margin-right: 2%;
}

.usuario_admin_rg-pf{
    float: left;
    width: 33%;
}

.usuario_admin_cpf-rg{
    float: left;
    width: 33%;
    margin-right: 0%;
}

/* EDITAR PARCEIRO - PJ*/
.editar_parceiro_adm-nome{
    width: 50%;
    margin-right: 1%;
    float: left;
}

.editar_parceiro_adm-email{
    width: 31%;
    margin-right: 1%;
    float: left;
}

.editar_parceiro_adm-whatsapp{
    width: 17%;
    float: left;
}

.editar_parceiro_adm-cpf{
    width: 22%;
    margin-right: 1%;
    float: left;
}

.editar_parceiro_adm-rg{
    width: 22%;
    margin-right: 1%;
    float: left;
}

.editar_parceiro_adm-senha{
    width: 40%;
    float: left;
}

.especialidades_mg{
    width: 30%; 
    float: left;
}

.especialidades_pf{
    width: 30%;
    float: left;
    margin-right: 1%;
}

.editar_parceiro-voltar {
    float: right; 
    margin-right: 1%;
}

.editar_parceiro_cep {
    width: 20%;
    float: left;
    margin-right: 1%;
}

.editar_parceiro_logradouro{
    width: 40%;
    margin-right: 1%;
    float: left;
}

.editar_parceiro_bairro{
    width: 38%;
    float: left;
}

.editar_parceiro_cidade2{
    width: 39%;
    margin-right: 1%;
    float: left;
}

.editar_parceiro_estado{
    width: 11%;
    margin-right: 1%;
    float: left;
}

.editar_parceiro_numero{
    width: 17%;
    margin-right: 1%;
    float: left;

}

.editar_parceiro_complemento{
    float: left;
    width: 30%;
}

.editar_parceiro-l1, .editar_parceiro-l4 {
    width: 100%;
    float: left;
}

.editar_parceiro-l2, .editar_parceiro-l3, .editar_parceiro-l5, .editar_parceiro-l6 {
    width: 100%;
    margin-top: 25px;
    float: left;
}

.btn_editar_parceiro-alterar_senha {
    margin-left: 1%;
    margin-top: 2.1rem;
    margin-bottom: 2.1rem;
    float: right;
}

.novo_parceiro-horas {
    width:34%;
    margin-right: 1%;
    float: left;
}

/* PRINCIPAL TELA PARCEIROS */
.parceiros-filtro {
    width: 100%;
    float: left;
}

.parceiros-razao{
    width: 32%;
    float: left;
    margin-right: 2%;
}

.parceiros-fantasia{
    width: 32%;
    float: left;
   margin-right: 2%;
}

.parceiros-cidade{
    width: 32%;
    float: left;
}

.titulo_border{
    padding-top: 10px;
    margin-top: 20px;
}

.titulo_border01{
    float:left;
    width:100%;
    border-top: 2px solid #dbdbdb; 
    padding-top: 10px; 
    margin-top: 20px
}

.titulo_border_end-fis{
    float: left; 
    width: 100%; 
}

.titulo_border_valores-fis{
    float:left; 
    width:100%; 
    border-top: 2px solid #dbdbdb; 
    padding-top: 10px; 
    margin-top: 20px;
}

.titulo_border_usuario-fis{
    float:left; 
    width:100%; 
}

.icone_status-parceiro {
    width: 15px;
    height: 15px;
    border: 0;
    background: #46e533;
    border-radius: 10px;
    margin-top: 4px;
    margin-right: 5px;
}

/* USUARIOS */
.lista_usuarios_nome {
    float: left;
    width: 60%;
    margin-right: 1%;
}

.lista_usuarios_email {
    float: left;
    width: 39%;
}

.usuarios_editar-nome {
    float: left;
    width: 45%;
    margin-right: 1%;
}

.usuarios_editar-email {
    float: left;
    width: 30%;
    margin-right: 1%;
}

.usuarios_editar-senha {
    float: left;
    width: 23%;
}

.usuarios_editar-whats{
    float: left;
    width: 33%;
    margin-right: 1%;
}

.usuarios_editar-cpf{
    float: left;
    width: 33%;
    margin-right: 1%;
}

.usuarios_editar-rg{
    float: left;
    width: 32%;
}

.btn_editar{
    color: white; 
}

.novo_parceiro-filtro {
    width: 30%;
    margin-bottom: 0px;
}

.editar_parceiro-dados_parceiro {
    display: block;
}

.editar_parceiro-dados_bancarios {
    display: none;
}

.editar_parceiro-dados_colaboradores {
    display: none;
}

/* PARCEIROS > EDITAR */
.editar_parceiro-cnpj{
    width: 22%;
    margin-right: 1%;
    float: left;
}

.editar_parceiro-razao {
    float: left;
    width: 38%;
    margin-right: 1%;
}

.editar_parceiro-fantasia {
    float: left;
    width: 38%;
}

.editar_parceiro-data {
    float: left;
    width: 36%;
    margin-right: 1%;
}

.editar_parceiro-especialidades {
    float: left;
    width: 63%;
}

.editar_parceiro-cep_juri {
    float: left;
    width: 12%;
    margin-right: 1%;
}

.editar_parceiro-logradouro_juri {
    float: left;
    width: 60%;
    margin-right: 1%;
}

.editar_parceiro-bairro_juri {
    float: left;
    width: 26%;
}

.editar_parceiro-cidade_juri {
    float: left;
    width: 26%;
    margin-right: 1%;
}

.editar_parceiro-estado_juri {
    float: left;
    width: 11%;
    margin-right: 1%;
}

.editar_parceiro-numero_juri {
    float: left;
    width: 12%;
    margin-right: 1%;
}

.editar_parceiro-complemento_juri {
    float: left;
    width: 48%;
}

.editar_parceiro-horas, .editar_parceiro-adicional {
    float: left;
    width: 33%;
    margin-right: 1%;
}

.editar_parceiro-km_percorrido {
    float: left;
    width: 32%;
}

.editar_parceiro-complemento_pf {
    float: left;
    width: 54%;
}

.editar_parceiro-horas2, .editar_parceiro-adicional2 {
    float: left;
    width: 33%;
    margin-right: 1%;
}

.editar_parceiro-km_percorrido2 {
    float: left;
    width: 32%;
}

.editar_parceiro-adm-nome {
    float: left;
    width: 45%;
    margin-right: 1%;
}

.editar_parceiro-adm-email {
    float: left;
    width: 33%;
    margin-right: 1%;
}

.editar_parceiro-adm-whatsapp {
    float: left;
    width: 20%;
}

.editar_parceiro-adm-cpf, .editar_parceiro-adm-rg {
    float: left;
    width: 25%;
    margin-right: 1%;
}

.editar_parceiro-adm-senha {
    float: left;
    width: 34%;
}

.editar_parceiro-cep_fis  {
    float: left;
    width: 14%;
    margin-right: 1%;
}

.editar_parceiro-logradouro-fis {
    float: left;
    width: 49%;
    margin-right: 1%;
}

.editar_parceiro-bairro-fis {
    float: left;
    width: 35%;
}

.editar_parceiro-cidade2-fis {
    float: left;
    width: 25%;
    margin-right: 1%;
}

.editar_parceiro-estado-fis {
    float: left;
    width: 8%;
    margin-right: 1%;
}

.editar_parceiro-numero-fis {
    float: left;
    width: 10%;
    margin-right: 1%;
}

.editar_parceiro-cpf-fis {
    float: left;
    width: 15%;
    margin-right: 1%;
}

.editar_parceiro-fantasia-fis {
    float: left;
    width: 40%;
    margin-right: 1%;
}

.editar_parceiro-especialidades_pf {
    float: left;
    width: 43%;
}

/* FINANCEIRO - RECEBER > INFO */
.info_fin_receber-btn_exportar {
    float: right;
    margin-right: 1%;
}

.info_fin_receber-informacoes {
    width: 100%;
    float: left;
}

.info_fin_receber-botoes {
    width: 100%;
    float: left;
}

.btn_info_finan-receber_fechamento {
    color: #0d0b99!important;
    font-weight: bold;
    border-color: #0d0b99!important;
    background-color: #b7b6ff!important;
    width: 49%;
    margin-right: 2%;
    cursor: default;
}

.btn_info_finan-receber_valor {
    color: #035835!important;
    font-weight: bold;
    border-color: #257469!important;
    background-color: #9ae9dd!important;
    width: 48%;
    cursor: default;
}

/* FINANCEIRO - PAGAR > INFO */
.info_fin_pagar-btn_exportar {
    float: right;
    margin-right: 1%;
}

.info_fin_pagar-btn_comprovante {
    float: right;
}

.info_fin_pagar-informacoes {
    width: 100%;
    float: left;
}

.info_fin_pagar-botoes {
    width: 100%;
    float: left;
}

.btn_info_finan-fechamento {
    color: #0d0b99!important;
    font-weight: bold;
    border-color: #0d0b99!important;
    background-color: #b7b6ff!important;
    width: 49%;
    margin-right: 2%;
    cursor: default;
}

.btn_info_finan-valor {
    color: #035835!important;
    font-weight: bold;
    border-color: #257469!important;
    background-color: #9ae9dd!important;
    width: 48%;
    cursor: default;
}

#segmentos-selecionados{display:none; margin-bottom: 15px;}
#grupos-selecionados{display:none; margin-bottom: 15px;}
#equipes-selecionados{display:none; margin-bottom: 15px;}
#colaboradores-selecionados{margin-bottom: 15px;}

.selecionado{
    background: #556ee7;
    padding: 1px 10px;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.dados{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 4px 10px;
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 3;
    display:none;
}

.dados p { 
    margin-bottom: 3px;
    background: #f7f7f7d6;
    padding: 2px 10px;
    border-radius: 4px;
    cursor:pointer;
}

.dados p:hover{
    background: #556ee7;
    color: #fff;
}

#b-endereco{
    float:left; 
    width: 49%; 
    margin-right: 2%; 
    text-align: center; 
    border-bottom: 1px solid #5b73e8;
    cursor:pointer;
}

#b-dados{
    float:left; 
    width: 49%; 
    text-align: center; 
    border-bottom: 1px solid #e7e7e7;
    cursor:pointer;
}

#b-endereco:hover{ color: #556ee7; }
#b-dados:hover{ color: #556ee7; }

#principal-endereco{
    border: 1px solid #ebebeb;
    padding: 20px;
    float: left;
    width: 100%;
    border-radius: 6px;
}
